# Visual Studio / .NET
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/

# SQLite local databases
*.db
*.db-shm
*.db-wal

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
.env.local
.env.production

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
powershell.cmd

